body {
    font-family: Arial, serif;
    text-align: center;
}

.info__input_long {
    width: 400px;
    margin: 10px;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    text-align: center;
}

.info__input_short {
    width: 200px;
    margin: 10px auto 10px;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    text-align: center;
}

.info img {
    margin: auto;
    width: 50px;
    height: 50px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 77px;
    height: 100%;
}

.info__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 520px;
}

.expert__form-wrap {
    display: grid;
    width: auto;
}

.expert__form-wrap label {
    width: 200px;
    text-align: left;
}

.expert__form-wrap input {
    margin-right: 10px;
}

.expert {
    display: grid;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.expert__icon img {
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}

.expert__form__container {
    display: flex;
    width: 100%;
}

.expert__title {
    font-weight: normal;
}

.expert__label {
    margin: 10px;
}
