a {
    color: #ff0cbf;
    float: right;
    text-decoration: none;
}

span {
    color: #00b600;
}

h2 {
    color: #ff0cbf;
    text-align: center;
    margin-top: 35px;
}

h1 {
    margin: 0;
    text-align: center;
}

.container {
    width: 40%;
    margin: auto;
    padding: 25px;
    border: 1px solid #000000;
}

.textIndent {
    text-indent: 30px;
}