form /* Стили к самой форме */ {
    font-family:Arial, Helvetica, sans-serif; /* Говорится, какой шрифт будет использоваться, данном случае Arial */
    font-size:12px; /* Размер шрифта 12 пикселей */
    padding:10px; /* Отступы внутри формы шириной 10 пикселей */
    border: 1px solid #ddd; /* Сплошная рамка вокруг формы шириной 1 пиксель и цветом #ddd */
    border-top: 0px; /* Говорит, что вверху рамки не должно быть */
    width:350px; /* Ширина 350 пикселей */
    background:#eee; /* Фоновый цвет формы #eee */
}
form .input /* Стили для класса input */ {
    width: 230px; /* Ширна 230 пикселей */
    border: 1px solid #ddd; /* Сплошная рамка вокруг шириной 1 пиксель и цветом #ddd */
}
form textarea /* Стили к тегу textarea */ {
    width: 230px; /* Ширина 230 пикселей */
    border: 1px solid #ddd; /* Сплошная рамка вокруг шириной 1 пиксель и цветом #ddd */
}
.n /* Стили к классу n */ {
    font-size:12px; /* Размер шрифта 12 пикселей */
    font-family:Arial, Helvetica, sans-serif; /* Говорится, какой шрифт будет использоваться, данном случае Arial */
    color:#333; /* Цвет текста #333 */
    text-align:center; /* Выравнивание текста */
    background:#fff; /* Фоновый цвет #fff */
    width:360px; /* Ширина 360 пикселей */
    padding:5px; /* Отступы от всех краев размером 5 пикселей */
    border:1px solid #ddd; /* Сплошная рамка вокруг шириной 1 пиксель и цветом #ddd */
}