body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 72px;
    box-shadow: 0 -3px 10px rgba(0,0,0,0.3);
}

.header__flex__items {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__flex__items a {
    border: 1px solid #ccc;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
}
.container {
    max-width: 1124px;
    width: 100%;
}
.header__flex {
    display: flex;
    justify-content: space-between;
}
.header__flex img {
    margin-left: 3%;
    margin-right: 4px;
}
.header__flex nav {
    display: flex;
    justify-content: space-between;
}
.header__flex nav img {
    margin-left:10px;
    margin-right: 101px;
}
.search {
    display: flex;
    justify-content: center;
}

.search__input {
    margin-left: 3%;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-top: 30px;
    width: 94%;
}
.restor {
    display: flex;
    justify-content: center;
    padding-bottom: 89px;
}
.restor .container > p { 
    font-size: 22px;
    margin-top: 30px;
    margin-left: 3%;
    margin-bottom: 0;
}
.restor__price {
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}
.restor__price__elem {
    flex: 0 308px;
    margin-top: 36px;
}
.restor__price__elem p:nth-child(2) {
    font-size: 16px;
}
.restor__price__elem p:nth-child(3) {
    font-size: 14px;
    color: #626262;
}
.restor__price__elem p:nth-child(4) {
    font-size: 13px;
    color: #1D1D1D;
}
